@charset "UTF-8";

* {
    font-size: 1.1em;
    background-color: #11114d;
    text-align: center;
    color: white;
}

html, body {
    width: 10ovw;
    height: 100vh;
}

section {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    max-height: 50%;
    max-width: 50%;
}

input:focus-within {
    background: whitesmoke;
    color: #000;
}

button {
    background: url(patologia.png);
    padding: 10px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
}

button:active {
    background: url(patologia2.png);
}